joblib>=1.1.0
KDEpy>=1.1.0
matplotlib>=3.5.1
numpy>=1.22.2
pandas>=1.4.1
Pillow>=9.0.1
pygam>=0.8.0
pyimzML>=1.4.1
PyQt5>=5.15.6
scikit_image>=0.19.1
scikit_learn>=1.0.2
scipy>=1.8.0
skimage>=0.0
statsmodels>=0.13.2
tqdm>=4.62.3
